body {
  font-family: Arial, sans-serif;
  background:#f4f4f4;
  text-align:center;
}

h2 {
  margin: 20px;
}

.gallery {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap:15px;
  padding:20px;
}

.gallery img {
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:12px;
  transition: 0.4s ease;
  cursor:pointer;
}

/* Hover Effect */
.gallery img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

/* Popup Viewer */
.popup {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  justify-content:center;
  align-items:center;
}

.popup img {
  max-width:90%;
  max-height:90%;
  border-radius:12px;
}

#close {
  position:absolute;
  top:20px;
  right:30px;
  font-size:40px;
  color:white;
  cursor:pointer;
}
